.container {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  flex-direction: column;
}
.main {
  background-color: #fff;
  width: 100%;
  /* min-height: 100%; */
  /* overflow-x: hidden; */
}
.side_nav {
  height: 100vh;
  background-color: #f4f6f8;
  display: none;
  color: rgba(0, 0, 0, 0.794);
}
.mobile_nav {
}
.showMobileNav {
}
@media (min-width: 767px) {
  .container {
    flex-direction: row;
  }
  .side_nav {
    display: block;
    flex: 1 1 20%;
    height: 100vh;
    float: left;
    width: 280px;
    position: fixed;
    transition: 0.4s ease-in-out;
  }
  .main {
    flex: 1 1 80%;
    /* min-height: 100%; */
    margin-left: 280px;
    min-width: 500px;
    transition: 0.4s ease-in-out;
  }
  .shrink_main {
    margin-left: 100px;
    transition: 0.4s ease-in-out;
  }
  .shrink_nav {
    width: 100px;
    transition: 0.4s ease-in-out;
  }
  .mobile_nav {
    display: none;
  }
}
@media (min-width: 801px) {
  .showMobileNav {
    display: none;
  }
}
