.asideContainer {
  display: flex;
  list-style: none;
  gap: 30px;
  flex-direction: column;
  width: 85%;
}
.asideContainer li {
  display: inline-block;
}
.asideMain {
  transition: 0.4s;
}
.showdrop {
  height: auto;
  transition: 0.4s;
  transform: scaleY(1);
}
.hide_drop {
  transform: scaleY(0);
  transform-origin: left top;
  height: 0;
  transition: 0.2s ease-in-out;
}

.dropdown a:hover {
  color: black;
  transition: 0.2s;
}
.asideHeader {
  padding: 20px;
}
.icon {
  font-size: 22px;
  color: #c3c4d3;
}
.link_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: 0.2s ease-in-out;
}
.active {
  color: goldenrod !important;
}
.dropdown {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.dropdown span {
  font-size: 10px;
}
.asideLink {
  cursor: pointer;
  font-weight: 500;
  color: #a6a7b5;
  display: flex;
  gap: 20px;
  align-items: baseline;
}
.link_hover:hover {
  color: black !important;
}
