.graph_container {
  display: flex;
  flex-basis: 100%;
  gap: 24px;
  margin-top: 20px;
}
.graph_item {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.3%;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 200px;
  flex: 30%;
  width: 30%;
  padding: 10px;
}
.last {
  flex: 1 1 70%;
  width: 70%;
}
