.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 6px;
  background: #eaeafb;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 0;
}
.full_cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 2;
}
.dropdown {
  transition: 0.4s;
  display: flex;
  padding: 15px;
  margin: 0 10px;
  background: #fff;
  flex-direction: column;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.showProfile {
  margin-top: 0;
}
.hideProfile {
  height: 0%;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.4s;
}
.headFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon {
  font-size: 20px;
  /* padding: 10px; */
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #efefef;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.name {
  font-weight: 600;
  color: black;
}
.role {
  text-transform: capitalize;
  font-size: 13px;
}
