.form {
  width: 70%;
  padding: 15px;
}
.input_container {
  padding: 10px;
  width: 100%;
}
.input_container input {
  padding: 10px;
  width: inherit;
}
.input_container label {
  display: block;
  margin-top: 10px;
}
.form button {
  background-color: #4bc2bc;
}
.form button:hover {
  background-color: #4bc2bc86;
}
